{% load i18n %}
{% if sets %}
    <div id="table">
        {% if site_admin %}
            <a href="{% url 'add_target_language' project_id=project_id %}">
                <button class="btn btn-success">
                    <i class="icon-plus icon-white"></i> {% trans "Add new language" %}
                </button>
            </a>
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> {% trans "name" %}</th>
                    <th> {% trans "created_at" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in sets %}
                    <tr>
                        <td> {{ row.name }} </td>
                        <td> {{ row.created_at }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
