{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
{% endblock %}

{% block content %}
    {% if cur_proj_name|length %}
        <div id="main" class="row">
            <div class="span12">
                <div id="header">
                    {% if translation %}
                        <ul class="nav nav-tabs">
                            <li {% if cur_lang_id == source_lang %} class="active" {% endif %}>
                                <a href="{% url 'project' project_id=project_id lang_id=source_lang %}"> {% trans "Source: " %} {{ source_lang_name }} </a>
                            </li>

                            {% if alternative_languages_exists %}
                                <li {% if cur_lang_id != source_lang %} class="dropdown active" {% else %}
                                                                        class="dropdown" {% endif %}>
                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                        {% if cur_lang_name|length and cur_lang_id != source_lang %}
                                            {{ cur_lang_name }}
                                        {% else %}
                                            {% trans "Select language" %}
                                        {% endif %}
                                        <b class="caret"></b>
                                    </a>

                                    <ul class="dropdown-menu">
                                        {% for li in languages %}
                                            {% if li.lang.id != source_lang %}
                                                <li>
                                                    <a href="{% url 'project' project_id=project_id lang_id=li.lang.id %}"> {{ li.lang.name }} </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    {% if cur_lang_id %}
                        {% include "translation_management/section.html" %}
                        {% if message_list|length %}
                            {% if cur_lang_id == source_lang %}
                                {% include "translation_management/source.html" %}
                            {% else %}
                                {% include "translation_management/target.html" %}
                            {% endif %}
                        {% endif %}

                    {% elif show_sets %}
                        {% include "translation_management/sets.html" %}
                    {% elif show_languages %}
                        {% include "translation_management/languages.html" %}
                    {% elif show_import %}
                        {% include "translation_management/import.html" %}
                    {% elif show_export %}
                        {% include "translation_management/export.html" %}
                    {% elif show_permissions %}
                        {% include "translation_management/permissions.html" %}
                    {% else %}
                        <div class="span8">
                            <h2>{% trans "Information not found" %}</h2>
                        </div>

                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}

        <h3> {% trans "Select project:" %} </h3>
        <ul>
            {% for li in projects %}
                <li><h4><a href="{% url 'cur_project' project_id=li.id %}"> {{ li.name }}
                    : {{ li.project_type.name }} </a></h4></li>
            {% endfor %}
        </ul>
        <h4><a href="{% url 'add_project' %}"> {% trans "Add new project" %} </a></h4>
    {% endif %}
{% endblock %}
