{% load i18n %}
{% if message_list|length %}
    <div class="total_messages alert alert-info">
        {{ message_list|length }} {% trans "messages" %}
    </div>
{% else %}
    {% ifnotequal cur_section "__none" %}
        <div class="total_messages alert alert-info">
            {% trans "Nothing was found" %}
        </div>
    {% endifnotequal %}
{% endif %}
<div class="status alert alert-info" style="display:none">
    {% trans "Please wait" %}
</div>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <form class="navbar-form pull-left" action="" method="GET">

                    <select class="section span2" name='cur_section'>
                        <option value="" {% if not cur_section %}
                                selected {% endif %}>{% trans "Show All Sections" %}</option>
                        {% for li in sections %}
                            <option value="{{ li }}" {% if cur_section == li %} selected {% endif %}>{{ li }}</option>
                        {% endfor %}
                    </select>

                    <select class="sel_subsection span2" name='cur_subsection'>
                        <option value="" {% if not cur_section %} selected {% endif %}>{% trans "Show all" %}</option>
                        {% for li in sub_sections %}
                            <option value="{{ li }}" {% if cur_subsection == li %} selected {% endif %}>{{ li }}</option>
                        {% endfor %}
                    </select>
                    {% if cur_lang_id != source_lang %}
                        <select class="language span2" name='translated'>
                            <option value='False' {% ifequal translated_filter "False" %} selected {% endifequal %}>
                                {% trans "Not Translated" %}
                            </option>
                            <option value='True' {% ifequal translated_filter "True" %} selected {% endifequal %}>
                                {% trans "Only Translated" %}
                            </option>
                            <option value='all' {% ifequal translated_filter "all" %} selected {% endifequal %}>
                                {% trans "All" %}
                            </option>
                        </select>
                    {% endif %}
                    <input type="text" class="span2" placeholder="Search" name="substring"
                           value="{{ search_substring }}">
                    <button type="submit" class="btn">
                        <i class="icon-play"></i>
                    </button>
                </form>
                <ul class="nav pull-left">
                    <li>
                        <a href="#">
                        </a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    {% ifequal cur_lang_id source_lang %}
                        {% if site_admin %}
                            <li class="divider-vertical"></li>
                            <li>
                                <a href="#" class="immediate-upload">
                                    <i class="icon-upload"></i>
                                </a>

                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="project" value="{{ project_id }}"/>
                                    <input type="hidden" name="lang" value="{{ source_lang }}"/>
                                    <input name="pofile" type="file" id="file"/>
                                </form>
                            </li>
                        {% endif %}
                    {% endifequal %}
                    <li class="divider-vertical"></li>
                    <li>
                        <a class="text-right" title="{% trans 'Export po-file' %}"
                           href="{% url 'export_direct' project_id=project_id language_id=cur_lang_id %}">
                            <i class="icon-download-alt"></i>
                        </a>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
