{% load i18n %}

<div id="table">
    <table class="table table-striped table-hover" style="cursor: pointer;">
        <thead>
            <tr class="row">
                <th class="span12">
                    <div class="row-fluid">
                        <div class="span4"> {% trans "MSG_ID" %} </div>
                        <div class="span8"> {% trans "Message in " %} {{ source_lang_name }}</div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in message_list %}
                <tr class="clickable row">
                    <td class="span12" style="word-wrap: break-word;">
                        <div class="span4"> {{ row.msg_id }} </div>
                        <div class="span7" name="msg_source"> {{ row.msg_source|truncatechars:60 }} </div>
                    </td>
                </tr>
                <tr style="display:none" class="collapse row">
                    <td class="span12" style="word-wrap: break-word;">
                        <form action="{% url 'update_msg' %}" method="post">{% csrf_token %}
                            <div class="span4"> {{ row.msg_id }} </div>
                            <div class="span7">
                                <textarea name="msg_str" rows="4" cols="50">{{ row.msg_source }}</textarea>
                                <input type="hidden" name="id_of_message" value="{{ row.id }}"/>

                                <div class="btn-toolbar" style="margin: 0;">
                                    <div class="btn-group">
                                        <button class="btn btn-info inline_cancel">
                                            {% trans "Cancel" %}
                                        </button>
                                    </div>
                                    {% if perms.potrsetmessage.edit_message %}
                                        <div class="btn-group">
                                            <button class="btn btn-info new" type="submit" name="action" value="new">
                                                {% trans "Save: New meaning" %}
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button class="btn btn-info same" type="submit" name="action" value="same">
                                                {% trans "Save: Same meaning" %}
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
